{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Time entry {{ timeEntry.id }}</h1>
        <table class="table">
            <tbody>
                <tr>
                    <th>ID</th>
                    <td>{{ timeEntry.id }}</td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}

