{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <main class="container">
        <h1>Bienvenidos a la Churreria!</h1>

        {{ include('@App/ChurroTimeEntry/_bestChurroTypeBox.html.twig') }}
    </main>
{% endblock %}
